.character{
    display: inline-block;
    border: 2px outset dimgray;
    background-color: dimgrey;
    height: 175px;
    border-radius: 2%;
    margin: auto 3%;
}
.stats{
    text-align: center;
    margin-top: 0;
    height: 100%;
    width: 100%;
    position: relative;
}
.statDisplay{
    position: absolute;
    background-color:rgba(210, 193, 193);
    text-shadow: 1px 1px #ddeeff;
    margin-top: -175px;
    margin-left: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .35s ease;
}
.character:hover .statDisplay{
    opacity: 1;
}
.hp{
    margin: -2px auto;
}
.character img{
    padding: 5px 5px auto 5px;
    height: 155px;
    width: 175px;

}

body{
    background-image: url(../images/bg.jpeg);
}
.barracks{
    background-color: rgba(210, 193, 193, .75);
    height: 350px;
    text-align: center;
    margin: auto 10%;
    border: 2px outset #def;
    
}
hr{
    margin: 1% 365px;
}
#fightbox{
    display: inline-block;
    /* position: fixed; */
    border: 2px outset #def;
    background-color: blanchedalmond;
}
#defend{
    position: absolute;
    margin-right: 25%;
    right: 0;
    margin-top: -11.8%;
}
#attack{
    margin-left: 25%;
}
#moveSelect{
    margin:auto 47.5%
}
#attackButton{
    height: 45px;
    width: 75px;
}#attackButton:active{
    border: inset;
    height: 44px;
    width: 74px;
}
#moveResult{
    margin: auto;
    text-align: center;
    width:490px;
    border: 2px outset #def;
    background-color:  rgba(210, 193, 193, .5);
    padding: 1%;
    display: inline-block;
    content: "";
    clear: both;
    display: table;
    
}
